<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/img/logo.png">
    <title>EXPLOIT | Dashboard</title>
    <meta name="google-site-verification" content="cVhq9ZfHrhmrGg9b98xy7u8mVKhpRCEd7H4EGivGIQU" />
    <meta name="keywords" content="Twitch, Bots, Follower, Follow Bots, Exploit, Shop, Views, View Bot, TikTok, Anime Generator, Hentai Generator"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/loader.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://autobuy.io/js/embed.min.js"></script>
    <link rel="stylesheet" href="/assets/css/popup.css">
    <script src="/assets/js/utils.js"></script>
    <script language="JavaScript">
		//////////F12 disable code////////////////////////
          document.onkeypress = function (event) {
              event = (event || window.event);
              if (event.keyCode == 123) {
                 //alert('No F-12');
                  return false;
              }
          }
          document.onmousedown = function (event) {
              event = (event || window.event);
              if (event.keyCode == 123) {
                  //alert('No F-keys');
                  return false;
              }
          }
      document.onkeydown = function (event) {
              event = (event || window.event);
              if (event.keyCode == 123) {
                  //alert('No F-keys');
                  return false;
              }
          }
      var message=":o";      
      function clickIE() {if (document.all) {(message);return false;}}
      function clickNS(e) {if
      (document.layers||(document.getElementById&&!document.all)) {
      if (e.which==2||e.which==3) {(message);return false;}}}
      if (document.layers)
      {document.captureEvents(Event.MOUSEDOWN);document.onmousedown=clickNS;}
      else{document.onmouseup=clickNS;document.oncontextmenu=clickIE;}
      document.oncontextmenu=new Function("return false")
      function disableCtrlKeyCombination(e)
      {
      var forbiddenKeys = new Array('a', 'n', 'c', 'x', 'v', 'j' , 'w');
      var key;
      var isCtrl;
      if(window.event)
      {
      key = window.event.keyCode;
      if(window.event.ctrlKey)
      isCtrl = true;
      else
      isCtrl = false;
      }
      else
      {
      key = e.which;
      if(e.ctrlKey)
      isCtrl = true;
      else
      isCtrl = false;
      }
      if(isCtrl)
      {
      for(i=0; i<forbiddenKeys.length; i++)
      {
      if(forbiddenKeys[i].toLowerCase() == String.fromCharCode(key).toLowerCase())
      {
      alert('Key combination CTRL + '+String.fromCharCode(key) +' has been disabled.');
      return false;
      }
      }
      }
      return true;
      }
	</script>
</head>
<body onload="loading()">
    <div class="loader-wrapper" id="loader">
        <span class="loader"><span class="loader-inner"></span></span>
    </div>
<div class="et-hero-tabs-container">
    <a class="et-hero-tab" target="_blank" href="/discord">Discord</a>
    <a class="et-hero-tab" target="_blank"  href="/donate">Donate</a>
    <a class="et-hero-tab" href="/faq">FAQ</a>
    <span class="et-hero-tab-slider"></span>
</div>
<div class="container" id="content" style="display: none;"> 
    <div class="welcome">
        <img src="/assets/img/longlogo.png"><br>
        <font size="100">Welcome <font id="<%= User.rank %>"><% if (User.rank == "Admin") {
            %> <small>
                <small>ADMIN</small>
                </small> <%
        } %>
        <% if (User.rank == "Premium") {
            %> <small>
                Premium
            </small> <%
        } %>
        <% if (User.rank == "VIP") {
            %> <small>
                VIP
            </small> <%
        } %>
        <% if (User.rank == "Developer") {
            %> <small>
                Dev
            </small> <%
        } %>
        <% if (User.rank == "Support") {
            %> <small>
                Support
            </small> <%
        } %><%= User.username %></font></font>
    </div>
    <section class="dashcards">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Account Settings</h5>
                    <p class="card-text">Go here to change your Account Settings.</p>
                    <a href="/users/settings" class="btn btn-primary">START</a>
                </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Marketplace</h5>
                    <p class="card-text">Click here to join the Marketplace.</p>
                    <a href="#" class="btn btn-primary">START</a>
                </div>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Admin Panel</h5>
                    <p class="card-text">U need to be a Admin xD</p>
                    <a href="<% if (User.rank == 'Admin') { %>/admin<% } else { %>/403<% }%>" class="btn btn-primary">START</a>
                </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Logout</h5>
                    <p class="card-text">Click here to log out from your Account.</p>
                    <a href="/users/logout" class="btn btn-primary">START</a>
                </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="/assets/js/loader.js"></script>
</body>
</html>