<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/assets/js/exploitcore.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EXPLOIT | FAQ</title>
    <meta name="google-site-verification" content="cVhq9ZfHrhmrGg9b98xy7u8mVKhpRCEd7H4EGivGIQU" />
    <meta name="keywords" content="Twitch, Bots, Follower, Follow Bots, Exploit, Shop, Views, View Bot, TikTok, Anime Generator, Hentai Generator"/>
    <link rel="icon" href="/assets/img/logo.png">
    <link rel="stylesheet" href="/assets/css/faq.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">
    <script language="JavaScript">
		//////////F12 disable code////////////////////////
          document.onkeypress = function (event) {
              event = (event || window.event);
              if (event.keyCode == 123) {
                 //alert('No F-12');
                  return false;
              }
          }
          document.onmousedown = function (event) {
              event = (event || window.event);
              if (event.keyCode == 123) {
                  //alert('No F-keys');
                  return false;
              }
          }
      document.onkeydown = function (event) {
              event = (event || window.event);
              if (event.keyCode == 123) {
                  //alert('No F-keys');
                  return false;
              }
          }
      var message=":o";      
      function clickIE() {if (document.all) {(message);return false;}}
      function clickNS(e) {if
      (document.layers||(document.getElementById&&!document.all)) {
      if (e.which==2||e.which==3) {(message);return false;}}}
      if (document.layers)
      {document.captureEvents(Event.MOUSEDOWN);document.onmousedown=clickNS;}
      else{document.onmouseup=clickNS;document.oncontextmenu=clickIE;}
      document.oncontextmenu=new Function("return false")
      function disableCtrlKeyCombination(e)
      {
      var forbiddenKeys = new Array('a', 'n', 'c', 'x', 'v', 'j' , 'w');
      var key;
      var isCtrl;
      if(window.event)
      {
      key = window.event.keyCode;
      if(window.event.ctrlKey)
      isCtrl = true;
      else
      isCtrl = false;
      }
      else
      {
      key = e.which;
      if(e.ctrlKey)
      isCtrl = true;
      else
      isCtrl = false;
      }
      if(isCtrl)
      {
      for(i=0; i<forbiddenKeys.length; i++)
      {
      if(forbiddenKeys[i].toLowerCase() == String.fromCharCode(key).toLowerCase())
      {
      alert('Key combination CTRL + '+String.fromCharCode(key) +' has been disabled.');
      return false;
      }
      }
      }
      return true;
      }
	</script>
</head>
<body>
    <div class="logo">
        <img src="/assets/img/longlogo.png">
    </div>
    <strong>
        Welcome to EXPLOIT-COMMUNTIY!
    </strong>
    <div class="main">
        <div class="index">
            <strong>
                What are our Payments methods?
            </strong><br>
            You can use our Shop integration on our Dashboard to pay with BitCoin.<br>
            If you want to pay with PayPal, please visit our Discord and create a ticket!
        </div>
        <div class="index">
            <strong>
                I forgot my password!
            </strong><br>
            Don't panic! Please create a ticket on our Discord and ask for a Account deactivation.<br>
        </div>
        <div class="index">
            <strong>
                What are our future plans?
            </strong><br>
            For the first time we create more Bots and Exploits.<br>
            We also want to create a Rank-System and stuff like Account-Generators.
        </div>
        <div class="index">
            <strong>
                How can i buy BitCoin?
            </strong><br>
            To buy Bitcoin you can visit <a target="_blank" href="https://bitcoin.org/">bitcoin.org</a> and buy the amount of money.<br>
            If you dont have a wallet visit <a target="_blank" href="https://electrum.org/#home">electrum.org</a> and download the software.<br>
            Please remember that we use <strong>EURO €</strong> as currency!
        </div>
        <div class="index">
            <strong>
                How can i get more points?
            </strong><br>
            You can buy points with BTC.<br>
            Or just try to win in our Giveaways!
        </div>
        <!--<div class="index">
            <strong>
                What does the Product Status mean?
            </strong><br>
            We got 3 different type of Product states<br>
            The first is <font color="green">UNDETECTED</font> and means you can buy.<br>
            The second is <font color="yellow">UNAVAILABLE</font> and means that the product is out of stock.<br>
            The third is <font color="red">DETECTED</font> and means that the product is not working.<br>
        </div>-->
        <div class="index">
            <strong>
                I bought the wrong Service!
            </strong><br>
            Sorry mate, in this case you wont get the points back!<br>
            Please read the product text befor you buy!
        </div>
        <!--<div class="index">
            <strong>
                I bought while Service is DETECTED/UNAVAILABLE!
            </strong><br>
            Sorry mate, in this case you wont get the money back!<br>
            Please look for the product status befor you buy!
        </div>-->
        <div class="index">
            <strong>
                How long will it take for my service to run?
            </strong><br>
            The License keys will instantly appear under the Shop section.
        </div>
        <div class="index">
            <strong>
                How often can i use a License
            </strong><br>
            One license is only for one use!
        </div>
        <div class="index">
            <strong>
                Anything else?
            </strong><br>
            Yes Sir! We got something for our first 100 payments with BTC!<br>
            Use the coupon <strong>EXPLOIT</strong> to get 10% off!
        </div>
    </div>
</body>
</html>