/* width */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:blue;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: red;
  }
  

body {
    background-color: black;
    text-align: center;
    align-items: center;
    align-content: center;
    color: white;
    font-family: 'Cairo', sans-serif;
    cursor: url(/assets/js/default.cur), default;
}

head {
    cursor: url(/assets/js/default.cur), default;
  }
  
  :hover {
    cursor: url(/assets/js/default.cur), default;
  }

.logo {
    margin-top: 3%;
}

.main {
    margin-top: 5%;
    margin-bottom: 5%;
    align-content: center;
}

a {
    color: white;
}

a:hover {
    color: red;
}

#all-user-section {
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
}

#all-invites-section {
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
}
  
#member-control-section {
    margin-top: 10%;
    margin-bottom: 20%;
    margin-right: 30%;
    margin-left: 30%;
}

.scroll-container{
    border: 2px solid grey;
    height: 200px;
    overflow-y: scroll;
}

.list {
    position: relative;
}
   
.list-item {
     text-align: left;
     margin-top: 0.5%;
     margin-left: 2%;
     margin-bottom: 0.5%;
}

.position {
    margin-top: 1%;
    margin-bottom: 1%;
}